
<section class="markets">
  <h2><%= "#{@vendor.name} Products" %></h2>

  <section class="new_aside">
    <h3>Add a new product: </h3>
    <%= button_to "New Product", new_products_path(vendor_id: @vendor.id), method: :get, class: 'btn' %>
  </section>

  <h3>Your products:</h3>
  <% @products.each do |product| %>
    <p><%= product.name%></p>

    <%= button_to "Edit", edit_products_path(id: product.id, vendor_id: @vendor.id), method: :get, class: 'btn' %>
    <%= button_to "Remove", delete_products_path(id: product.id), method: :delete, class: 'btn', data: { confirm: "Are you sure you want to delete this Vendor from your Market? This action cannot be undone." } %>
  <% end %>

</section>
