<section class="vendors">
  <h2><%= "#{@vendor.name} Sales" %></h2>

  <section class="new_aside">
    <h3>Add a new sale: </h3>
    <%= button_to "New Sale", new_sales_path(vendor_id: @vendor.id), method: :get, class: 'vendor_btn' %>
    <br>
    <h3>View sales: </h3>
    <%= button_to("All sales", index_sales_path(id: @vendor.id), params: {sales_showing: "all"}, method: "get", class: 'vendor_btn') %>
  </section>

  <!-- <p><%=  button_to("View All Sales", index_sales_path(id: @vendor.id), params: {sales_showing: "all"}, method: "get") %></p> -->

  <div class="form">
    <%= form_for :select, method: "get" do |f| %> <%# could have - method: @method - before url to specify the method PUT via a variable created in controller%>
        <%# f.label :month_selector %> <!-- title is the name of the instance varaible to name this with -->
        <%= f.month_field :month, :month_selector => nil, :required => true %>
        <%= f.hidden_field :sales_showing, :value => "month" %>
      <%= f.submit "Sales by month", class: 'submit_btn' %>
    <% end %>
  </div>

  <% if @sales != nil %>
  <ol>
    <% @sales.each do |sale| %>
      <li>
        <p><%= "Product: #{sale.product.name}" %>
          <br>
        <%= "Amount: #{to_dollars(sale.amount)}" %>
          <br>
        <%= "Purchase time: #{sale.purchase_time}" %></p>
      </li>
    <% end %>
  </ol>
  <% end %>
</section>
