<section>
  <h2><%= "#{@vendor.name} Sales" %></h2>
</section>

<h3>Add a new sale: </h3>
<%= button_to "New Sale", new_sales_path(vendor_id: @vendor.id), method: :get, class: 'btn' %>

<section>
  <h3>Your total sales:</h3>
  <ol>
    <% @sales.each do |sale| %>
      <li>
        <p><%= "Product: #{sale.product.name}" %>
          <br>
        <%= "Amount: #{to_dollars(sale.amount)}" %>
          <br>
        <%= "Purchase time: #{sale.purchase_time}" %></p>
      </li>
    <% end %>
  </ol>
</section>

<%= params %>
